.friends-all-users-list {
    height: 600px;
    width: 400px;
    padding: 10px;
    border: 7px solid var(--theme-light);
    margin: 25px 50px;
    background-color: var(--theme-medium);
    border-radius: 10px;
    
}

