.friend-request-status-bar {
   display: flex;
   margin: 0;
   width: 150px;
}

.friend-request-status-bar p.button-md, .friend-request-status-bar p.button-md:hover {
   min-width: 200px;
   display: flex;
   background-color: var(--theme-dark);
   color: var(--theme-light);
}

.friend-request-status-bar .request-pending {
   border-radius: 20px;
   width: 25px;
   padding: 2px;
   background-color: var(--theme-light);
   color: var(--theme-dark);

}

.friend-request-status-bar .request-text {
   width: 150px;
}