.avatar {
    margin: auto;
    height: 150px;
    width: 150px;
    padding: 10px;
    background-color: var(--text-medium);
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 3px;
}

.avatar img {
   width: 100%;
}

.avatar > div {
   border-radius: 50px;
}