.about-me {
   min-height: 50px;
   margin-top: 40px;
   margin: auto;
   margin-bottom: 20px;
   
}

.about-me h4, .about-me p {
   text-align: left;
   padding-top: 10px;
}

.about-me h4 {
   text-decoration: underline;
}