.about-me {
   min-height: 50px;
   margin-top: 25px;
   padding: 10px;
   margin: auto;
   margin-bottom: 20px;
   
}

.about-me h4, .about-me p {
   text-align: left;
   padding: 5px;
}

.about-me h4 {
   text-decoration: underline;
}