* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
   margin: 0;
   text-align: center;
}

.content {
   display: flex;
   flex-direction: row;
   align-content:center;
   width: 90%;
   margin: auto;
}

h2, h3, h4 {
   text-align: center;
}