.banner {
   text-align: left;
   color: var(--theme-dark);
   padding: 15px;
}

.banner h1 {
   font-family: 'Times New Roman', Times, serif;
   color: var(--theme-dark);
   font-size: 2.5em;
}

.banner h1.span {
   color: var(--theme-medium);
}