.create-post {
    margin: 0;
}

.create-post .add-post .post-text {
    text-align: left;
    width: 100%;
    font-size: 1.1em;
    padding: 5px 10px;
    border: none;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.create-post {
   margin-bottom: 0;
}